<header id="header" class="row">   
  <div class="header-logo">
      <a href="/">Arus-Api</a>
  </div>
  <nav id="header-nav-wrap">
      <ul class="header-main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="https://www.instagram.com/das_abae">Instagram</a></li>
          <li><a href="https://github.com/Debanjan-San">Github</a></li>
      </ul>
      <a href="/docs" class="button button-primary cta">Docs</a>
  </nav>
  <a class="header-menu-toggle" href="#"><span>Menu</span></a>    	
</header>
